@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: hsl(231, 73%, 93%);
    border-radius: 10px;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

a.active {
  background-color: theme('colors.purple.light');
  color: theme('colors.purple.DEFAULT');
}

a.active svg {
  fill: theme('colors.purple.DEFAULT');
}

.select-item-active {
  color: theme('colors.purple.DEFAULT');
}

.select-item-active {
  fill: theme('colors.purple.DEFAULT');
}
